body {
  background-image:url("1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html {
  height: 100%
}

.choose {
  margin-left: 75px;
  margin-bottom: 20px;
  position: fixed; 
  bottom: 0; 
  width: 100%;
}

.choose_viz_text {
  font-family: 'Megrim', cursive;
  font-style: bold;
  font-size: 50px;
  margin-left: -60px;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  position: relative;
  width: 33%;
  font-family: 'Megrim', cursive;
}

.blurb {
  font-family: 'Orbitron', sans-serif;  
  text-align: center;
  width: 60%
}

.buttonblurb {
  position:relative;
  left:25%;
}