body {
  background-image:url("1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html {
  height: 100%
}

.choose {
  margin-left: 75px;
  margin-bottom: 75px;
  position: fixed; 
  bottom: 0; 
  width: 100%;
}

.choose_viz_text {
  padding-bottom: 60px;
}

.button {
  display: inline-block;
  width: 33%;
}