body {
  background-image:url("diagonales_decalees.png");
}

html {
  height: 100%
}

.choose {
  width: 100%;
}

.choose_viz_text {
  display: block;
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 120px;
  margin-bottom: 50px;
  margin-left: -40px;
}

.buttons{
  font-family: 'Orbitron', sans-serif;  
  font-size: 21px;
}

.links {
  display: inline-block;
  vertical-align: top;  
  position: relative;
  width: 17%;
  text-align: center;
  margin-left: 240px;
}

.link {
  text-align: center;
  text-decoration: none;
} 

a:link {
  color: #7401DF;
}

a:visited {
  color: #7401DF;
}

a:hover {
  color: #7401DF;
}

a:active {
  color: #7401DF;
}

img{
  width: 50%;
}

.links p{
  height: 150px;
}

