body{
  background-image:url("diagonales_decalees.png");
}

html {
  height: 100%
}

.headline{
  font-family: 'Monoton', cursive;
  font-size: 165px;
  text-shadow: 3px 2px #939393;
  display: inline;
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.about{
  font-family: 'Orbitron', sans-serif;
  font-style: bold;
  font-size: 40px;
  text-align: right;
  margin-top: 40px;
  margin-right: 50px;
  margin-bottom: 100px;
  float: right;
  width: 40%;
}

.blurb{
  font-size: 30px;
}

.link{
  font-family: 'Megrim';
  font-size: 90px;
  text-decoration: none;
  display: block; 
  width:18%;
  margin:0 auto; 
  bottom: 0;
  margin-top: 100px;
  padding: 0px 15px 10px 15px;
  border: solid;
  border-color: blue;
  border-width: 3px;
}