body{
  background-image:url("1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: 0;
  margin-top: 550px;
}

html {
  height: 100%
}

.headline{
  font-family: 'Monoton', cursive;
  font-size: 165px;
  text-shadow: 3px 2px #939393;
  display: inline;
  bottom: 0;
  margin-left: 30px;
}

.about{
  font-family: 'Orbitron', sans-serif;
  font-style: bold;
  font-size: 40px;
  text-align: left;
  margin-left: 180px;
  margin-top: -80px;
  width: 45%;
}

.blurb{
  font-size: 25px;
  margin-top: -25px;
  margin-left: 80px;
}

.link{
  font-family: 'Megrim';
  font-size: 110px;
  text-decoration: none;
  width:18%;
  position: fixed;
  right: 30px;
  bottom: 30px;
}