<!DOCTYPE html>
  <head>
  <title>GitViz</title>
  <link rel="stylesheet" type="text/css" href="static/index.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600|Monoton|Orbitron:400,700,500|Megrim|Quantico' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <div class="choose">
      <p class="choose_viz_text">Choose a visualization</p>
      <form action="/index" method="post" class="buttons">

        <div class="button">
          <input type="submit" name="submit" value="rails" class="buttonblurb">
          <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. </p>
        </div>

        <div class="button">
          <input type="submit" name="submit" value="flask" class="buttonblurb">
          <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. </p>
        </div>
          
        <div class="button">
          <input type="submit" name="submit" value="this" class="buttonblurb">
          <p class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. </p>
        </div>

      </form>
    </div>
  </body>


