<!DOCTYPE html>
  <head>
  <title>GitViz</title>
  <link rel="stylesheet" type="text/css" href="static/welcome.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600|Monoton|Orbitron:400,700,500|Megrim|Quantico' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <div class="transbox">
      <div class="headline">
        GitViz
      </div>

      <form action="/index" class="form">
        <input type="submit" value="enter">
      </form>

      <div class="about">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.
        </p>
      </div>
    </div>
  </body>
